<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div th:replace="fragments/mail/general.xhtml :: header"></div>

  <main>
    <h3>Olá, <span th:text="${usuario.nome}">Usuário</span>.</h3>

    <p>Os seguintes compromissos estão chegando:</p>

    <ul>
      <li th:each="notificacao : ${notificacoes}">
        <b th:text="${notificacao.tipo.label}">Tipo</b>: <span th:text="${notificacao.descricao}">Descrição</span> 
        (<span th:text="${#temporals.format(notificacao.dataHora, 'dd/MM/yyyy HH:mm')}">dd/MM/yyyy HH:mm</span>)
      </li>
    </ul>

    <p><a th:href="@{${webAppBaseUrl}}">Clique aqui para acessar o OpenPlanner</a></p>
  </main>

  <div th:replace="fragments/mail/general.xhtml :: footer"></div>
</body>

</html>
