<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div th:replace="fragments/mail/general.xhtml :: header"></div>

  <main>
    <p>Sua senha foi alterada. Se não foi você que realizou esta alteração, clique no link "Esqueci minha senha" na página de login.</p>

    <p><a th:href="@{${webAppBaseUrl}}">Clique aqui para solicitar uma nova senha</a></p>
  </main>

  <div th:replace="fragments/mail/general.xhtml :: footer"></div>
</body>

</html>
